.App {
  text-align: center;
}

.main-body {
  height: 100vh;
}

.container {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: minmax(40px, auto) auto minmax(40px, auto);
  grid-template-rows: minmax(40px, auto) auto minmax(40px, auto);
}

.transition-grid {
  position: absolute;
  z-index: 999;
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  transition: grid-template-columns 3s ease-in, grid-template-rows 3s ease-in;
}

.transition-grid.invisible {
  display: none;
}

.transition-grid.visible {
  display: grid;
}

.loading {
  position: absolute;
  z-index: 3;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: grid;
  place-content: center;
}

.loading.invisible-loading {
  display: none;
}

.loading-card {
  display: grid;
  place-content: center;
  height: 220px;
  width: 300px;
  background-color: white;
}

.loading-card.invisible-loading-card {
  display: none;
}

.loading-text{
  text-align: center;
}

.loading-text:after {
  position: absolute;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  text-align: left;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;      
  animation: ellipsis steps(4,end) 1600ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;    
  }
}

.middle-cell {
  grid-column-start: 2;
  grid-row-start: 2;
  height: auto;
  display: flex;
}

.welcome-card {
  grid-column-start: 2;
  grid-row-start: 2;
  height: auto;
  display: grid;
  place-items: center;
  z-index: 1;
}

.welcome-card.invisible-welcome-card {
  display: none;
}

.welcome-card.visible-welcome-card {
  display: grid;
}

.info-pane {
  display: grid;
  grid-template-rows: 60% 40%;
  flex-grow: 1;
}

.card-container {
  grid-row-start: 2;
  width: auto;
  min-width: 50%;
  height: auto;
  display: grid;
  place-content: center;
}

.info-card {
  width: auto;
  min-width: 300px;
  height: auto;
  border: solid black 1px;
}

.instructions {
  grid-row-start: 1;
  width: auto;
  height: auto;
  display: grid;
  place-content: end center;
  transition: opacity 4s;
}

.instructions.invisible-instructions {
  opacity: 0;
}

.instructions.visible-instructions {
  opacity: 1;
}

.new-image-card {
  margin-top: 20px;
  width: 100%;
  border: solid black 1px;
}

.new-image-card > p {
  width: 100%;
  text-align: center;
}

.image-pane {
  cursor: pointer;
  max-height: calc(100vh - 80px);
  width: auto;
  max-width: 50%;
  display: flex;
}

img {
  max-height: calc(100vh - 80px);
  max-width: 100%;
  object-fit: cover;
  border-left: solid black 1px;
}

.placeholder {
  cursor: pointer;
  width: 50%;
}

.left-gutter {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  border-right: solid black 1px;
}

.right-gutter {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border-left: solid black 1px;
}

.right-gutter.closed {
  border-left: solid black 0px;
}

.top-gutter {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  border-bottom: solid black 1px;
}

.bottom-gutter {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  border-top: solid black 1px;
}

.bottom-gutter.closed{
  border-top: solid black 0px;
}

.cell-one {
  grid-column-start: 1;
  grid-row-start: 1;
  background: white;
}

.cell-two {
  grid-column-start: 2;
  grid-row-start: 1;
  background: white;
}

.cell-three {
  grid-column-start: 3;
  grid-row-start: 1;
  background: white;
}

.cell-four {
  grid-column-start: 1;
  grid-row-start: 2;
  background: white;
}

.cell-five {
  grid-column-start: 3;
  grid-row-start: 2;
  background: white;
}

.cell-six {
  grid-column-start: 1;
  grid-row-start: 3;
  background: white;
}

.cell-seven {
  grid-column-start: 2;
  grid-row-start: 3;
  background: white;
}

.cell-eight {
  grid-column-start: 3;
  grid-row-start: 3;
  background: white;
}
