.App {
  text-align: center;
}

.main-body {
  height: 100vh;
}

.container {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: minmax(40px, auto) 1fr minmax(40px, auto);
  grid-template-rows: minmax(40px, auto) 1fr minmax(40px, auto);
}

.middle-cell {
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
}

.middle-cell > * {
  flex-grow: 1;
}

.info-pane {
  // grid-column-start: 2;
  // grid-row-start: 2;
  display: grid;
  place-items: center;
  background-color: lightsalmon;
  height: 100%;
  width: 50%;
}

.info-card{
  width: 75%;
  height: auto;
  border: solid black 1px;
}

.image-pane {
  background-color: lightgreen;
  max-height: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.image-pane > * {
  flex-grow: 1;
}

.left-gutter {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  border-right: solid black 1px;
}

.right-gutter {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border-left: solid black 1px;
}

.top-gutter {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  border-bottom: solid black 1px;
}

.bottom-gutter {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  border-top: solid black 1px;
}

button.invisible-button {
  // background-color: transparent;
  height: 200px;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
  cursor: pointer;
}

.smaller {
  font-size: rem;
}

img {
  max-height: calc(100vh - 80px);
  max-width: 100%;
  object-fit: cover;
}