.App {
  text-align: center;
}

.main-body {
  height: 100vh;
}

.container {
  min-height: 100vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: minmax(40px, auto) auto minmax(40px, auto);
  grid-template-rows: minmax(40px, auto) auto minmax(40px, auto);
}

.middle-cell {
  grid-column-start: 2;
  grid-row-start: 2;
  height: auto;
  display: flex;
}

.info-pane {
  display: grid;
  place-items: center;
  flex-grow: 1;
}

.info-card{
  width: 75%;
  height: auto;
  border: solid black 1px;
}

.image-pane {
  cursor: pointer;
  background-color: lightgreen;
  max-height: calc(100vh - 80px);
  width: auto;
  max-width: 50%;
  display: flex;
}

img {
  max-height: calc(100vh - 80px);
  max-width: 100%;
  object-fit: cover;
  border-left: solid black;
}

.placeholder {
  cursor: pointer;
  background-color: lightgreen;
  width: 50%;
}

.left-gutter {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 4;
  border-right: solid black 1px;
}

.right-gutter {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border-left: solid black 1px;
}

.top-gutter {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  border-bottom: solid black 1px;
}

.bottom-gutter {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  border-top: solid black 1px;
}

.smaller {
  font-size: rem;
}
